<div class="container-fluid">
    <div class="navigation">
        <ul>
            <li>
                <a class="disabled-link">
                    <div class="user">
                        <img src="assets/img/Tamil_Nadu_Police_Logo.png">
                    </div>
                    <span class="title1">
                        <h5 class="custom-title-margin main-text">DASHBOARD</h5>
                    </span>
                </a>
            </li>
        </ul>
        <hr class="custom-line">
        <ul class="side-nav">
            <li>
                <a href="" id="dashboard" class="">
                    <span class="iconify custom-icon custom-fa" data-icon="fa:dashboard"
                        area-hidden="true"></span>
                    <span class="title main-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="" id="add">
                    <span class="iconify custom-icon custom-fa" data-icon="fluent:person-add-16-regular" style="color: white;"
                        area-hidden="true"></span>
                    <span class="title main-text">Add</span>
                </a>
            </li>
            <li>
                <a href="" id="view">
                    <span class="iconify custom-icon custom-fa" data-icon="icon-park-outline:view-grid-detail" style="color: white;"
                        area-hidden="true"></span>
                    <span class="title main-text">View</span>
                </a>
            </li>
        </ul>
    </div>
</div>