.container-fluid
{
    position: relative;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px
}
.custom-title-margin
{
    margin-top: 26px;
    margin-left: 15px;
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 18px;
}
.custom-line
{
    border: 0.5px solid #EBEFF2;
    height: 1px;
    margin-top: 67px;
}
.custom-menu-ul {
    background-color: #2d2b2bdb !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.5rem !important;
    min-width: 8rem !important;
}
.custom-item {
    text-align: center !important;
    padding: 0rem 0rem !important;
    color: #ebeff2 !important;
    background-color: transparent !important;
    border: 0;
}
.navigation
{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #343a40;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active
{
    width: 60px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 77%;
    margin-left: 3%;

}
.side-nav{
    margin-top: 7rem;
}
ol, ul {
    padding-left: 0px;
}
.navigation ul li 
{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation .side-nav li:hover
{
    background: rgb(104, 101, 101);
    border-radius: 5px;
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 5px;
}
.navigation ul li:nth-child(2)
{
    margin-bottom: 5px;
}
.navigation a
{
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    text-decoration: none;
    color: #fff;
    height: 3rem;
}
.navigation ul li a .custom-icon
{
    position: relative;
    display: block;
    min-width: 25px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 11px;
}
.navigation ul li a .custom-icon .custom-fa
{
    color: #fff;
    font-size: 24px;
}
.navigation ul li a .title1
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 61px;
    white-space: nowrap;
    margin-left: -11px;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 3px 10px;
    height: 51px;
    line-height: 40px;
    white-space: nowrap;
    margin-left: 15px;
}
.custom-active{
  background-color: #2A2873;
  border-radius: 5px;
}
.disabled-link{
    pointer-events: none;
}
.custom-iconify 
{
    height: 55px;
    width: 30px;
}
.main-text
{
    font-family: sans-serif;
}
.user 
{
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 58px;
    overflow: hidden;
    cursor: pointer;
}
.user img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    margin-top: 12px
}

/*Media Query*/

@media (max-width: 992px)
{

}
@media (max-width: 768px)
{
    
}
@media (max-width: 480px)
{
    
}
