<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="./assets/logo.svg"
        class="profile-img-card"
      />
      <form>
        <div class="form-group">
          <label for="username" class="custom-text">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            required
          />
        </div>
        <div class="form-group">
          <label for="password" class="custom-text">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            required
            minlength="6"
          />
        </div>
        <div class="form-group text-center pt-3">
            <a href="#" class="pw-text">Forgot Password ?</a>
        </div>
        <div class="form-group text-center pt-3">
          <button class="btn btn-primary btn-block login-text">
            Login
          </button> &nbsp; &nbsp;
          <button class="btn btn-primary btn-block login-text">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>