<div class="col-md-12">
    <div class="card card-container">
        <img id="profile-img" src="./assets/logo.svg" class="profile-img-card" />
        <form>
            <div class="form-group">
                <label for="username" class="custom-text">Username</label>
                <input type="text" class="form-control" name="username" required minlength="3" maxlength="20" />
            </div>
            <div class="form-group">
                <label for="email" class="custom-text">Email Address</label>
                <input type="email" class="form-control" name="email" required email />
            </div>
            <div class="form-group">
                <label for="password" class="custom-text">Password</label>
                <input type="password" class="form-control" name="password" required minlength="6" />
            </div>
            <div class="form-group">
                <label for="password" class="custom-text">Confirm Password</label>
                <input type="password" class="form-control" name="password" required minlength="6" />
            </div>
            <div class="form-group text-center pt-4">
                <button class="btn btn-primary btn-block login-text">Sign Up</button>
            </div>
        </form>
    </div>
</div>