<div class="container">
    <div class="row">
        <div class="col-md-6 pt-3">
            <label>First Name</label>
            <input class="form-control custom-form" type="text" placeholder="First Name">
        </div>
        <div class="col-md-6 pt-3">
            <label>Last Name</label>
            <input class="form-control custom-form" type="text" placeholder="Last Name">
        </div>
        <div class="col-md-6 pt-3">
            <label>Email Address</label>
            <input class="form-control custom-form" type="text" placeholder="Email Address">
        </div>
        <div class="col-md-6 pt-3">
            <label>Password</label>
            <input class="form-control custom-form" type="password" placeholder="Password">
        </div>
        <div class="col-md-6 pt-3">
            <label>Confirm Password</label>
            <input class="form-control custom-form" type="password" placeholder="Confirm Password">
        </div>
    </div>
    <div class="col-md-12 text-center pt-3">
        <button type="button" class="btn btn-primary custom-submit ">Submit</button>
    </div>
</div>