<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center main-text">Login</h3>
                        <div class="form-group pt-2">
                            <label for="username" class="text-info main-text">Username</label><br>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group pt-2">
                            <label for="password" class="text-info main-text">Password</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group text-center pt-2">
                            <a href=""><label for="remember-me" class="main-text"><span>Forgot password ?</span> </label></a><br>
                        </div>
                        <div class="text-center pt-2">
                            <input type="submit" name="submit" class="btn btn-info btn-md main-text" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>