<div class="container-fluid">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <div class="user">
                        <img src="assets/img/Tamil_Nadu_Police_Logo.png">
                    </div>
                    <span class="title1">
                        <h5 class="custom-title-margin">DASHBOARD</h5>
                    </span>
                </a>
            </li>
            <hr class="custom-line">
            <li>
                <a href="#">
                    <span class="iconify custom-icon custom-fa" data-icon="ic:outline-dashboard"
                        area-hidden="true"></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="iconify custom-icon custom-fa" data-icon="ic:outline-view-agenda"
                        area-hidden="true"></span>
                    <span class="title">Add</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="iconify custom-icon custom-fa" data-icon="ic:outline-local-post-office"
                        area-hidden="true"></span>
                    <span class="title">View</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="topbar">
            <div class="toggle" id="togg" (click)="toggleMenu();"><span class="iconify custom-iconify-toggle"
                    data-icon="dashicons:menu-alt3"></span>
            </div>
            <!--Log out button-->
            <div>
                <button type="button" class="btn btn-primary custom-logout">Logout</button>
            </div>
        </div>
    </div>
</div>